<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Todo App</title>
  </head>
  <body>
    <section class="todo">
      <h1>ToDos</h1>
      
      <app-todo></app-todo>
      <app-footer></app-footer>
    </section>

    <footer class="contact">
      <p>Double-click to edit a todo</p>
      <p>
        Create by <a href="#">Preston Sego</a> -
        <a href="#">@NullVoxPopuli</a>
      </p>
      <p>Part of <a href="#">ToDoMVC</a></p>
    </footer>

    <script type="module" src="../dist/index.js"></script>
  </body>
</html>