<ul id="todo-list" class="todo-list">
  <li>
    <div class="view" *ngIf="!todoItem.isEdit" (dblclick)="setEdit()">
      <input
        class="check"
        type="checkbox"
        (click)="setStatus(index)"
        [(ngModel)]="todoItem.status"
      />
      <label>{{ todoItem.name }}</label>
      <button class="remove" (click)="deleteToDo(index)"></button>
    </div>
    <div class="view" *ngIf="todoItem.isEdit">
      <input
        autofocus
        type="text"
        class="editing"
        (keydown.Enter)="setName()"
        [(ngModel)]="todoItem.name"
      />
    </div>
  </li>
</ul>
