.todo-list {
  padding: 0;
  list-style: none;

  li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;

    .view {
      display: flex;
      align-items: center;
      margin-top: 3px;
      padding: 0;

      label {
        padding: 25px 15px 15px 70px;
        display: block;
        line-height: 1.2;
        font-size: x-large;
        color: #4d4d4d;
      }

      .editing {
        padding: 25px 15px 15px 0px;
        margin-left: 50px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
        line-height: 1.2;
        font-size: x-large;
        color: #4d4d4d;
      }
    }

    .check {
      text-align: center;
      width: 40px;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-appearance: none;
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center left;
    }

    input[type="checkbox"]:checked {
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }

    input[type="checkbox"]:checked ~ label {
      color: #cdcdcd;
      text-decoration: line-through;
    }

    .remove {
      display: none;
      position: absolute;
      top: 45%;
      left: 95%;
      width: 40px;
      height: 40px;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: #cc9a9a;
    }

    .remove:after {
      content: "×";
    }
  }

  li:last-child {
    border-bottom: none;
    margin-bottom: -15px;
  }

  li:hover {
    .remove {
      display: block;
      color: #af5b5e;
    }
  }
}
