.new-todo {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    border: 1px solid #999;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 16px 20px 50px;
    border: none;
  }

  .new-todo:focus {
    outline: 4px solid pink;
  }

  .main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
  
    .check-all {
      opacity: 0;
      position: absolute;
    }
  
    .check-all + label {
      width: 60px;
      height: 34px;
      font-size: 0;
      position: absolute;
      top: -54px;
      left: -13px;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
    .check-all + label:before {
      content: "❯";
      font-size: 22px;
      color: #e6e6e6;
      padding: 10px 27px 10px 27px;
    }
  
    .todo-list {
      padding: 0;
      list-style: none;
  
      li {
        position: relative;
        font-size: 24px;
        border-bottom: 1px solid #ededed;
  
        label {
          padding: 25px 15px 15px 70px;
          display: block;
          line-height: 1.2;
          font-size: x-large;
          color: #4d4d4d;
        }
        .remove {
          display: none;
          position: absolute;
          top: 45%;
          left: 95%;
          width: 40px;
          height: 40px;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-size: 30px;
          color: #cc9a9a;
        }
  
        .remove:after {
          content: "×";
        }
  
        .view {
          display: flex;
          align-items: center;
          margin-top: 3px;
          padding: 0;
        }
      }
  
      li:last-child {
        border-bottom: none;
        margin-bottom: -15px;
      }
  
      li:hover {
        .remove {
          display: block;
          color: #af5b5e;
        }
      }
    }
    
  
    ul li .check {
      text-align: center;
      width: 40px;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-appearance: none;
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center left;
    }
  
    .todo-list li input[type="checkbox"]:checked {
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  
    ul li input[type="checkbox"]:checked ~ label {
      color: #cdcdcd;
      text-decoration: line-through;
    }
  }
  
  
  
